<div id="sm">
  <a href="http://www.facebook.com/share.php?u=https://obscure-mesa-98847.herokuapp.com" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"><%= image_tag "facebook.png" %></a>
  <a href="https://twitter.com/intent/tweet?button_hashtag=ZeroWaste&text=Check%20out%20our%20web%20application%20Freshness" data-size="large" data-url="http://obscure-mesa-98847.herokuapp.com"><%= image_tag "twitter.png" %></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

