/* green */
$green: #00a368;
$light_green: #ABE1C7;
$dark_green: #339966;

/* red */
$red: #e3493b;
$light_red: #ffe6e6;

/* blue */
$blue: #6599ff;
$light_blue: #e0eaff;
$dark_blue: #537dd1;
 
/* yellow */
$yellow: #ffb412;




