<h1>Freshness: a new message sended</h1>

<p>
  ------------------------------<br>
  Name:     <%= @contact.name %><br>
  Email:    <%= @contact.email %><br>
  Subject:  <%= @contact.subject %><br>
  Message:  <%= @contact.message %><br>
  ------------------------------<br>
</p>
