<!-- specific meta --> 
<% set_meta_tags title: 'Food content page' %>
<% set_meta_tags description: 'Display food preservation methods' %>

<!-- navigation bar -->  
<%= render "fresh/shared/nav" %>

<!-- title -->
<% @title = @food.name %>
<div id="content-title">
  <div class="container"><%= @title %></div>
</div>

<!-- tab -->
<%= render "tab_form" %>