<!-- navigation bar -->  
<%= render "/nav" %>

<!-- title -->
<% @title = "Top page" %>

<!-- notice message -->
<div id="notice"><%= flash[:notice] %></div>

<!-- content -->
<%= render "search_form" %>

<!-- social media -->
<%= render "social_media" %>