/*********************** for common components ***************************/
#body {
  background-color: #fcfbf9;
}

/* navigation bar */
.navbar-brand img {
  height: 30px;
}
/* override to bootstrap */
.navbar {
  border-radius: 0px;
}
.navbar-fixed-top {
  border-width: 0;
}

/* color for each category */
.vege_bg_color_dark{
  color: white;
  background-color: #00a368;
}
.vege_bg_color_light{
  color: #339966;
  background-color: #ABE1C7;
}
.vege_color_dark{
  color: #339966;
}
.meat_bg_color_dark{
  color: white;
  background-color: #e3493b;
}
.meat_bg_color_light{
  color: #e3493b;
  background-color: #ffe6e6;
}
.meat_color_dark{
  color: #e3493b;
}
.dairy_bg_color_dark{
  color: white;
  background-color: #6599ff;
} 
.dairy_bg_color_light{
  color: #537dd1;
  background-color: #e0eaff;
}
.dairy_color_dark{
  color: #537dd1;
}
.all_bg_color_dark{
  color: white;
  background-color: #ffb412;
}
.all_color_dark{
  color: #ffb412;
}



