/********** result page **********/
/* search bar */
/* override */
.navbar-fixed-top {
  border: 0;
}
.search-fixed-under-nav {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 1029;
  border-width: 0 0 1px;
  border-radius: 0;
  background-color: #222;
  border-color: #080808;
}
.navbar-search-form {
  border: 0;
}
.form-search-group {
  padding: 0 15px;
  margin: 0 -15px 8px -15px;
  text-align: center;
}
.select-form-control {
  position: relative;
  z-index: 2; 
  width: 130px;
  height: 34px;
  margin: 0;
  padding: 0px 5px;
  border: 1px solid #666666;
  border-right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: white;
}
.search-text-form-control {
  position: relative;
  z-index: 2;
  width: 260px;
  height: 34px;
  margin-right: 5px;
  padding: 0px 5px;
  border: 1px solid #666666;
  border-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media (max-width: 480px) {
  .search-text-form-control {
    width: 130px;
  }
  .select-form-control {
    width: 100px;
  }
}

/* results info */
.results-fixed-under-search {
  position: fixed;
  top: 92px;
  right: 0;
  left: 0;
  z-index: 1029;
  height: 34px;
  padding: 3px 15px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  background-color: white;
}
/* override */
.pull-left {
  padding-top: 3px;
}
/* results */
#results-table {
  margin: 130px 0 0 0;
  width: 100%;
  padding: 0 10%;
  font-size: 15px;
  .result-item {
    padding: 20px 0 0 0;
    height: 280px;
    border-bottom: 1px solid #cccccc;
  }
  td {
    padding: 0 20px;
  }
  .result-item-link {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 5px;
  }
}
.result-item-link a,
.result-item-link a:link,
.result-item-link a:visited,
.result-item-link a:active {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 991px) {
  #results-table {
    font-size: 16px;
    .result-item {
      height: 300px;
    }
  }
}
@media (max-width: 580px) {
  #results-table {
    font-size: 15px;
    .result-item {
      height: 270px;
    }  
    td {
      padding: 0 15px;
    }
    .result-item-link {
      font-size: 20px;
    }
  }
}
@media (max-width: 480px) {
  #results-table .result-item {
    height: 240px;
  }
}

/********** content page **********/
/* title */
#content-title {
  margin: 50px 0 20px 0;
  height: 60px;
  padding: 0;
  border-bottom: 1px solid #cccccc;
  background-color: white;
  color: #777;
  font-size: 40px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* override */
@media (min-width: 992px) {
  .content-tab .container {
    width: 850px;
  }
}
@media (max-width: 767px) {
  .content-tab .container {
    padding: 0 80px;
  }
}
@media (max-width: 580px) {
  .content-tab .container {
    padding: 0 30px;
  }
}

/* tab */
#tab {
  .nav-pills > li,
  .nav-pills > li > a {
    border-radius: 5px 5px 0 0;
    font-size: 18px;
  }
  .tab-content-parent {
    border-radius: 0 5px 5px 5px;
    margin-bottom: 50px;
  }
  .tab-content {
    color : white;
    background-color: inherit;
    padding : 5px 15px;
    border-radius: 0 5px 5px 5px;
  }
  .nav > li > a:hover {
    color: #777;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    background-color: inherit;
    border-radius: 4px 4px 0 0;
  }
  .nav-pills > li > a {
    background-color: #ccc;
    color: white;  
  }
}

/* content */
.tab-content-parent {
  div {
    padding: 5px 7px;
  }
  .content-image {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fcfbf9;
  }
  .tip-image {
    width: 20px;
    margin-right: 10px;
  }
  .content-space,
  .content-space2 {
    padding: 20px;
  }
  .h2 {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .h4 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .vertical-line {
    border-right: 1px solid #cccccc;
  }
}
@media (max-width: 767px) {
  .tab-content-parent {
    .content-space {
      padding-bottom: 10px;
      border-bottom: 1px solid #cccccc;
    }
    .content-space2 {
      padding-top: 0;
    }
  }
} 
